body{
		margin: 0;
		padding: 0;
		background: url(momfd2.jpg);
	    background-size: cover;
	}
	.fb{
		width: 85%;
		max-width: 600px;
		position: absolute;
		height: 500px;
		top: 50%;
		left: 50%;
		background: lightblue;
		transform: translate(-50%,-50%);
		border-radius: 15px;
		box-shadow: 0 0 20px black;
		padding: 0;
		margin: 0; 
	}
	.feed{
		color: deepskyblue;
		font-family: "Century Gothic";
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	input[type="text"],input[type="email"],textarea{
		width: 95%;
		font-size: 20px;
		letter-spacing: 3px;
		margin: 10px;
		box-sizing: border-box;
		padding: 10px;
		border-bottom: 2px solid rgb(190,190,190);
		font-family: "Montserrat",sans-serif;
		transition: 2s all;
	}
	input[type="submit"],input[type="reset"]
	{
		background: deepskyblue;
		color: black;
		width: 95%;
		font-size: 15px;
		font-weight: bold;
		text-transform: capitalize;
		cursor: pointer;
		padding: 13px;
		margin-top: -1px;
		letter-spacing: 2px;
		margin: 15px;
		font-family: "Montserrat",sans-serif;
		transition: 2s all;
	}
	input[type="submit"]:hover{
		color: lightblue;
		box-shadow: inset 0px 0px 100px 0px;
		transition: 1s;
	}
	input[type="reset"]:hover{
		color: lightblue;
		box-shadow: inset 0px 0px 100px 0px;
		transition: 1s;
	}
	.query{
		font-family: "Montserrat",sans-serif;
		line-height: 0;
		text-align: center;
	}